# Neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password
NEO4J_VOLUME=/home/ben/data/nexarag/prod/neo4j
NEO4J_DB_PORT=7475
NEO4J_APP_PORT=7688
NEO4J_apoc_export_file_enabled=true
NEO4J_apoc_import_file_enabled=true
NEO4J_apoc_import_file_use__neo4j__config=true
NEO4J_PLUGINS=\[\"apoc\"\]

# RabbitMQ 
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VOLUME=/home/ben/data/nexarag/prod/rabbitmq
RABBIT_QUEUE_PORT=5673
RABBIT_APP_PORT=15673

# API
API_PORT=5000
DOCS_VOLUME=/home/ben/data/nexarag/prod/docs
