services:
  nexarag.neo4j.dev:
    image: neo4j:latest
    container_name: nexarag.neo4j.dev
    restart: unless-stopped
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
      - NEO4J_dbms_security_procedures_unrestricted=apoc.meta.data
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_data:/data

  nexarag.dev:
    container_name: nexarag.dev
    build:
      context: ../src/backend
      dockerfile: ../../.devcontainer/Dockerfile
    volumes:
      - ../src/backend:/app
    environment:
      - OLLAMA_BASE_URL=http://ollama.dev:11434
    depends_on:
      - nexarag.neo4j.dev
    ports:
      - "8888:8888"

volumes:
  neo4j_data: